<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listagem de contatos utilizando o Spring Boot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <style>
		</style>
    </head>
    <body>
        <div class="container">
            <h1>Contatos</h1>
            <hr/>	
            <h4>Buscar Contato</h4>
            <div id="divBusca">
            	<form id="contatos" action="/contatos" method="get">
					<input id="nome" name="nome" type="text"/>
				  	<button type="submit">Buscar</button>
			  	</form>
			</div>
            <table class="table table-borderless">
                <tbody>
                <hr/>
                    <tr th:each="contato: ${contatos}">  
                        <td style="width: 1px; margin-right: 0px; padding-right: 0px;"><li/></td>
                        <td style="margin-left: 0px; padding-left: 0px; text-decoration-line: underline;" th:text="'#'+${contato.id}+' - '+${contato.nome}"></td>
						<td style="margin-left: 0px; padding-left: 0px; margin-right: 0px; padding-right: 0px;" th:text="${contato.fone}"></td>
                        <td style="margin-left: 0px; padding-left: 0px; margin-right: 0px; padding-right: 0px;" th:text="${contato.email}"></td>
                    	<td> 
	                    	<form id="contatosdel" action="/contatos/delete" method="get">
								<textarea style="display: none;" id="id" name="id" th:text="${contato.id}"></textarea>
							  	<button type="submit">Deletar</button>
			  				</form>
                    	</td>			
                    </tr>
                </tbody>
            </table>
            <hr/>
        </div>
        <div class="container">
	        <input type="button" id="adicionar" value="Adicionar" />
	        <input type="button" id="editar" value="Editar" />
        </div>
           <div style="display: none;" class="container" id="add">
           <br/>
            <h4>Adicionar Contato</h4>
            <form id="contato" action="/contatos" method="post">
                <div>
                    <label for="nome">Nome:</label>
                    <input id="nome" name="nome" type="text"/>
                </div>
                <div>
                    <label for="fone">Fone: </label>
                    <input id="fone" name="fone" type="text"/>
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="text"/>
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>
        <div style="display: none;" class="container" id="edit">
        <br/>
         <h4>Editar Contato</h4>
            <form id="contato" action="/contatos/update" method="get">
                <div>
                    <label for="id">Id:</label>
                    <input id="id" name="id" type="number"/>
                </div>
                <div>
                    <label for="nome">Nome:</label>
                    <input id="nome" name="nome" type="text"/>
                </div>
                <div>
                    <label for="fone">Fone: </label>
                    <input id="fone" name="fone" type="text"/>
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="text"/>
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>
        <script type="text/javascript">
        document.getElementById("adicionar").onclick = function() {
            document.getElementById("add").style.display = "block";
            document.getElementById("edit").style.display = "none";
        }
        document.getElementById("editar").onclick = function() {
            document.getElementById("add").style.display = "none";
            document.getElementById("edit").style.display = "block";
        }
    </script>
    </body>
</html>
